<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
   	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   	layout:decorate="~{layouts/layout_admin}">
<head>
	<th:block layout:fragment="css">
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
        <link rel="stylesheet" th:href="@{/css/admin_list.css}">
 	</th:block>
    <title>곰곰미-회원관리</title>
  
    <!-- <script>
        $(function(){
            //돋보기 클릭 시 검색 정보 submit
            $("#btn_search").on("click", function(){
                $("#searchForm").submit();
            });
        });  
    </script> -->
</head>
<body>
<div layout:fragment="content">
    <div id="container">
        <!-- top 영역 -->
        <div id="top">
            <div id="top_section00">
                <div id="top_section01">
                    <div id="title">
                        회원관리
                    </div>
                </div>
                <div id="top_section02">
                    <div id="search">
                        <select id="search_condition">
                            <option value="전체">전체</option>
                            <option value="닉네임">닉네임</option>
                            <option value="신고여부">신고여부</option>
                        </select>
                        <div class="search_area" id="search_area">
                            <input type="text" id="search_keyword" value="">
                            <div><img src="/images/search.png" alt="" name="btn_search" id="btn_search" height="25px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content 영역 -->
        <div id="content">
            <div id="content_section00">
                <div id="content_section01">
                    <table id="table">
                        <tr class="tr">
                            <td width="10%">번호</td>
                            <td width="15%">아이디</td>
                            <td width="15%">회원가입일자</td>
                            <td width="15%">사용자 타입</td>
                            <td width="15%">사용자 상태 여부</td>
                            <td width="15%">신고횟수</td>
                            <td width="15%">상세보기</td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="submit" class="user_info" id="user_info">
                                    <span class="btn_inner">정보수정</span>
                                </button>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tr">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- bottom 영역 -->
         <div id="bottom">
            <div id="bottom_section00">
                <div id="bottom_section01">
                    <div class="paging">
                        <li class="li0">
                            <a href="#" class="a">
                                <span><</span>
                            </a>
                        </li>
                    </div>
                    <div class="paging">
                        <li class="li0"><a href="#" class="a" id="first_page">1</a></li>
                    </div>
                    <div class = "paging">
                        <li class="li0"><a href="#" class="a">2</a></li>
                    </div>
                    <div class="paging">
                        <li class="li0"><a href="#" class="a">3</a></li>  
                    </div>
                    <div class="paging">
                        <li class="li0"><a href="#" class="a">4</a></li>
                    </div>
                    <div class= "paging">
                    <li class="li0"><a href="#" class="a">5</a></li>
                    </div>
                    <div class="paging">
                        <li class="li0">
                            <a href="#" class="a">
                                <span>></span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    </div>
</body>

</html>