<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
	

	<!-- head 영역 시작 -->
	<!-- 개별적으로 사용할 css, js 링크를 걸기위해서 head를 남겨놓음 --> 
	<head>
		<th:block layout:fragment="css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
			<link rel="stylesheet" th:href="@{/css/list.css}">
			<style>
				.paging ul li {
					display: inline-block;
				}
			</style>
		</th:block>
		
		<th:block layout:fragment="script">
			<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
			<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
			<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
			
			<script th:src="@{/js/common.js}"></script>
		</th:block>
		
		<!--
		<th:block layout:fragment="script">
			<script th:inline="javascript" src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
			<script th:src="@{/js/common.js}"></script>
		</th:block>
		-->
		
		
		<!--
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
		-->
		
	  	
	</head>
	
	<!-- head 영역 끝 -->
	

	
	
	<body id="wrap">
	  
	<div layout:fragment="content">
	<div class="form-wrapper">
	
			
	  <div id="learning">
	  <div class="wrap">
	      <div class="title" style="font-weight: bold;">공부도움받기</div>
	      
	     
	      <div class="table">
	          <table>
	              <colgroup>
	                  <col style="width:160px"> 
	                  <col> 
	                  <col style="width:160px"> 
	                  <col style="width:160px"> 
	              </colgroup>
	              <thead>
	                  <tr>
	                      <th>번호</th>
	                      <th>제목</th>
	                      <th>작성자</th>
	                      <th>등록일</th>
	                  </tr>
	              </thead>
	              <tbody>	
	                  <tr th:each="howtoList : ${getHowtoList}">
	                      <td></td>
	                      <td>
	                        <a th:text="${howtoList.communityTitle}"
                          		th:href="@{/community/howtoList/{communityNo} (communityNo=${howtoList.communityNo})}">
	                        </a>
	                      </td>
	                      <td th:text="${howtoList.userId}"></td>
	                      <td th:text="${howtoList.communityRegdate eq null ? '' : #strings.substring(howtoList.communityRegdate, 0, 10)}"></td>
	                    </tr>
	     
	              </tbody>
	          </table>
	
	<!-- 
	          <div style="text-align:center;">
	    <ul class="pagination" th:if="${getBoardList.totalElements > 0}"
	                  th:with="pageNumber = ${getBoardList.pageable.pageNumber},
	                      pageSize = ${getBoardList.pageable.pageSize},
	                      totalPages = ${getBoardList.totalPages},
	                      startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
	                      tempEndPage = ${startPage + pageSize - 1},
	                      endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
	      <li class="pagination_button" th:if="${pageNumber > 0}">
	        <a th:href="@{/board/boardList(
	                page=${pageNumber - 1}, 
	                searchCondition=${searchCondition}, 
	                searchKeyword=${searchKeyword}
	              )}">이전</a>
	      </li>
	    
	    
	      <li class="pagination_button" th:each="page : ${#numbers.sequence(startPage, endPage)}">
	        <a th:href="@{/board/boardList(
	                page=${page - 1},
	                searchCondition=${searchCondition},
	                searchKeyword=${searchKeyword}
	              )}" th:text="${page}"></a>
	      </li>
	    
	      <li class="pagination_button" th:if="${pageNumber < totalPages - 1}">
	        <a th:href="@{/board/boardList(
	                page=${pageNumber + 1},
	                searchCondition=${searchCondition},
	                searchKeyword=${searchKeyword}
	              )}">다음</a>
	      </li>
	    </ul>
	  </div> -->
	
	      </div>
	      <div class="paging">
	      	<ul th:if="${getHowtoList.totalElements > 0}"
			   th:with="pageNumber = ${getHowtoList.pageable.pageNumber},
					    pageSize = ${getHowtoList.pageable.pageSize},
					    totalPages = ${getHowtoList.totalPages},
					    startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
					    tempEndPage = ${startPage + pageSize - 1},
					    endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
	          <li th:if="${pageNumber > 0}">
	          	<a th:href="@{/community/howtoList(
											page=${pageNumber - 1}
										)}">&lt;</a>
			  </li>
			  
			  <li th:each="page : ${#numbers.sequence(startPage, endPage)}">
	          	<a th:href="@{/community/howtoList(
											page=${page - 1}
										)}" th:text="${page}" class="current"></a>
	          </li>	
	          <li th:if="${pageNumber < totalPages - 1}">
	          	<a th:href="@{/community/howtoList(
											page=${pageNumber + 1}
										)}">&gt;</a>
	          </li>
	      </div>
	      <div class="button">
	          <div class="fl"></div>
	          <div class="fr">
	              <a th:href="@{/community/communityReg}" class="btn btn_01">등록</a>
			          </div>
			      </div>
			  </div>
		  </div>
		</div>
	</div>



    
</body>
	
	
	
	
	
	
</html>