<!DOCTYPE html>
<html lang="ko"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/layout}">
   

   <!-- head 영역 시작 -->
   <!-- 개별적으로 사용할 css, js 링크를 걸기위해서 head를 남겨놓음 --> 
   <head>
      <th:block layout:fragment="css">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
         <link rel="stylesheet" th:href="@{/css/list.css}">
      </th:block>
      <th:block layout:fragment="script">
         <script th:inline="javascript" src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
         <script th:src="@{/js/common.js}"></script>
      </th:block>
   </head>
   <!-- head 영역 끝 -->
   
      
   <body>   
   <div layout:fragment="content"  id="wrap">
  	<div id="learning">
      <div class="wrap">

      <div id="top">
        <div id="top_section00">
            <div id="top_section01">
                <div class="title">FAQ</div> 
            </div>
            <div id="top_section02">
                <div id="search">
                  
                  <div class="search_area" id="search_area">
                      <input type="text" id="search_keyword"  style="font-size: 22px;" value="">
                      <div><img src="/images/search01.png" alt="" name="btn_search" id="btn_search" height="25px"></div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>


      
      
      
      
      <div class="paging">
          <a href="#">&lt;</a>
          <a href="#" class="current">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">&gt;</a>
      </div>
      <div class="button">
          <div class="fl"></div>
          <div class="fr">
              <a href="#" class="btn btn_01">등록</a>
          </div>
      </div>
  </div>
  </div>


</div>

</body>
</html>