<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!-- head 영역 시작 -->
	<!-- layout으로 잡히는 모든 html의 head 영역을 config.html로 대체 -->
	<head th:fragment="config">
		<title>게시판</title>
		<meta charset="UTF-8"/>
		
		<!-- 모든 페이지에서 사용할 공통 css링크 -->
		<!-- thymeleaf에서 링크를 걸 때는 @{}로 사용 (link태그, a태그 마찬가지) --> 

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" th:href="@{/css/init.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/mypage_copy.css}">
		<!-- 컨트롤러 css -->
		<link rel="stylesheet" th:href="@{/css/remoteControl.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/chatbot.css}">
		
		
				
		<!-- 현재 페이지 내에서 개별적으로 사용할 css 링크 --> 
		<th:block layout:fragment="css"></th:block>
		
		<!-- 모든 페이지에서 사용할 공통 js 링크 -->
		<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
		<script th:src="@{/js/header.js}"></script>
		<!--리모콘 js-->
		<script th:src="@{/js/mypageSidebar.js}"></script>
		<script th:src="@{/js/remoteControl.js}"></script>
		<script th:src="@{https://code.jquery.com/ui/1.13.2/jquery-ui.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<!-- 현재 페이지 내에서 개별적으로 사용할 js 링크 -->
		<th:block layout:fragment="script"></th:block> 
	</head>
	<!-- head 영역 끝 -->
	
</html>