<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<head>
		<th:block layout:fragment="css">
		</th:block>
		<th:block layout:fragment="script">
			<script th:inline="javascript">
			</script>
		</th:block>
	</head>
	<body>
		<header th:fragment="header">
			<input type="hidden" th:value="${#authentication}" id="auth">
		   <div id="total_header">
		    <div id="top_header">
		      <div id="h_section00">
		        <div id="h_section01">
		          <div id="h_img">
		            <img src="/images/mainLogo.png" id="logoImg">
		          </div>
		        </div>
                <div id="h_section02">
		          <div id="h_btns" th:if="${#authentication == null || #authentication.principal == 'anonymousUser'}">
		            <button type="button" id="btnLogin">로그인</button>
		            <button type="button" id="btnJoin">회원가입</button>
		          </div>
		          <div id="h_user" sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
		            <div id="h_user_btns">
		              <ul>
		                <li id="h_admin_title" sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{/admin/adminView}" class="h_u_title" id="h_admin">관리자페이지</a><span class="h_mark">|</span></li>
		                <li><a th:href="@{/mypage/my_note}" class="h_u_title" id="h_note">내노트</a><span class="h_mark">|</span></li>
		                <li><a th:href="@{/mypage/total_plan}" class="h_u_title" id="h_myplan">내플랜</a><span class="h_mark">|</span></li>
		                <!--li><a th:href="@{/mypage/getMypage}" class="h_u_title" id="h_myplan">내플랜</a><span class="h_mark">|</span></li-->
		                <li><a th:href="@{/user/infoView}" class="h_u_title" id="h_user" th:text="${#authentication.principal.user.userNickname} + '님'"></a></li>
		              </ul>
		            </div>
		            <div id="h_imgs">
		              <div id="h_userImg">
		                <img src="/images/user.png" id="userImg">
		              </div>
		              <div id="h_alarmImg">
		                <img src="/images/alarm.png" id="alarmImg">
		              </div>
		            </div>            
		          </div>
		          <div style="height: 50%;" class="header-hover-section">
			          <div id="h_section03">
			            <nav class="header_nav">
			              <div id="h_section04">
			                <ul>
			                  <li><a th:href="@{/planner/planMain}" class="m_title" id="h_planner">플래너</a></li>
	                          <li><a th:href="@{/community/prList}" class="m_title" id="h_community">커뮤니티</a></li>
	                          <li><a th:href="@{/customercenter/faqlist}" class="m_title" id="h_customercenter">고객센터</a></li>
	                          <li><a th:href="@{#}" class="m_title" id="h_giude">이용가이드</a></li>
			                </ul>
			              </div>
			            </nav>
			            <div id="h_search">
			              <form id="searchForm" action="/community/getSearchList" method="get">
			                <input type="text" name="searchKeyword" th:value="${searchKeyword}" placeholder="search">
				              <div id="h_search_img">
				                <img src="/images/search.png" id="searchImg">
				              </div>
			              </form>
			            </div>
			          </div>
			          	<div id="bottom_header">
					      <div id="h_section05">
					        <div id="h_section06">
					          <div class="h_block">
					            <ul>
					              <li><a th:href="@{/planner/planMain}" class="s_title" id="h_total">전체</a></li>
					              <li><a th:href="@{/planner/getPlanCateList}" class="s_title" id="h_cate">카테고리별</a></li>
					              <li><a th:href="@{/planner/getStatistic}" class="s_title" id="h_rank">순위별</a></li>
					            </ul>
					          </div>
					          <div class="h_block">
					            <ul>
					              <li><a th:href="@{/community/prList}" class="s_title" id="h_study">학습법PR</a></li>
					              <li><a th:href="@{/community/howtoList}" class="s_title" id="h_advice">공부도움받기</a></li>
					              <li><a th:href="@{/community/bulletinList}" class="s_title" id="h_talk">자유게시판</a></li>
					            </ul>
					          </div>
					          <div class="h_block">
					            <ul>
					              <li><a th:href="@{/customercenter/faqlist}" class="s_title" id="h_faq">FAQ</a></li>
					              <li><a th:href="@{/customercenter/noticeList}" class="s_title" id="h_notice">공지사항</a></li>
					              <li><a th:href="@{/customercenter/inquirylist}" class="s_title" id="h_question">문의사항</a></li>
					            </ul>
					          </div>           
					        </div>
					      </div>      
					    </div>
		          </div>
		        </div>      
		      </div>
		    </div>
		  </div>	
		  <!--모달위치가 여기-->
		  <div class="m-4555">
		    <div id="myModal" class="modal fade gomgomeLogout" tabindex="-1">
		        <div class="modal-dialog total_logout">
		            <div class="modal-content logout_text" >
		                <div class="modal-body logout_top">
		                  <div id="logout_timer">
		                    <p class="logout_count"></p>
		                  </div>
		                </div>
		                <div class="modal-footer logout_bottom">
		                  <div class="logout_box">
		                    <ul>
		                      <li><a th:href="@{/user/logout}" id="h_user_logout">로그아웃</a></li>
		                    </ul>
		                  </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		</header>
	</body>
</html>