#total_joinView{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#joinView_box{
	margin: 200px auto;
}
#joinView_title{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0px auto 100px auto;
}

#btns_joinView{
  align-items: center;
  margin: 0 auto;
}

#btnJoinGeneral{
  width: 300px;
  height: 40px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 2px solid #B5A27F; 
  border-radius: 5px;
  color:#B5A27F;
  font-size: 1rem; 
  font-weight: bold;  
}

#joinView_join{
  margin: 20px auto;
  width: 300px;
  height: 40px;
}

#joinView_kakao{
  margin: 20px auto;
  width: 300px;
  height: 40px;
 }

#joinView_naver{
    margin: 20px auto 20px auto;
    width: 300px;
    height: 40px;
}