.plan_swiper {
  height: 200px;	
}

.swiper-container {
    width: 100%;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
  .scene {
    height: 320px;
    position: relative;
  }
  .scene_content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    box-sizing: inherit;
  }
  .container {
    margin: 0 auto;
    position: relative;
    width: auto;
    height: 100%;
    max-width: 1200px;
    padding: 0;
  }
  .cover_left {
    position: absolute;
    left: 10px;
    top: 44%;
    transform: translateY(-50%);
    max-width: 600px;
  }
 .cover_right {
    position: absolute;
    height: 100%;
    width: 737px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
 }
 .cover_right img {
    height: 100%;
    object-fit: cover;
    object-position: left;
    right: 0;
}
.pagination-container {
    height: 64px;
    border-bottom: 1px solid #e9ecef;
    box-sizing: inherit;
}
.aa {
    position: relative;
    display: grid;
    padding-top: 13.5px;
    grid-template-columns: 135px 33px 1fr 52px;
    height: 100%;
    max-height: 100%;
    cursor: default;
}
.swiper-pagination-controller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 135px;
    height: 36px;
    font-size: .875rem;
    color: #fff;
    border-radius: 20px;
    background-color: rgba(0,0,0,.5);
}
.index-wrapper {
    margin-right: auto;
}
.control-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}
:after, :before {
    box-sizing: inherit;
}	
.divider {
    margin: 0 1rem;
    width: 1px;
    height: 36px;
    background-color: #dee2e6;
    box-sizing: inherit;
}
.swiper-pagination-wrapper{
    display: flex;
    z-index: 71;
    height: 40px;
    box-sizing: inherit;
} 

.swiper-pagination-bullet {
	/* padding: 5px 10px;
	border-radius: 0;
	width: auto;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color:#000;
	opacity: 1;
	background: rgba(0,0,0,0.2); */
  margin-left: 8px;
  width: auto;
  flex: 0 0 auto;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: .875rem;
  font-weight: 700;
  color: #495057;
  border-radius: 20px;
  box-shadow: inset 0 0 0 1px #ced4da;
  background-color: #fff;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
	/* color:#fff;
	background: #007aff; */
  color: #B5A27F;
  box-shadow: inset 0 0 0 2px #B5A27F;
}

.main_content {
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: none;
}

.plan{
  height: 200px;
  border: 1px solid #B5A27F;
  border-radius: 8px;
}

.plan_title {
  font-size: 1.3rem;
  margin: 40px 0 20px 0;
}
.swiper-button-prev, .swiper-button-next {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #B5A27F;
  color: #B5A27F;
  top: 110px;
}
.swiper-button-next {
  background: url(/images/next.png) no-repeat;
  background-position: center;
}
.swiper-button-next swiper-button-disabled {
  background: url(/images/next.png) no-repeat;
  background-position: center;
}

.swiper-button-prev {
  background: url(/images/next.png) no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.swiper-button-prev swiper-button-disabled {
  background: url(/images/next.png) no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.plan_swiper {
  width: 90%;
  padding-left: 50px;
  padding-right: 50px;
}

.swiper-button-prev{
    left: 0px;
    right: auto;
}

.swiper-button-next{
    right: 0px;
    left: auto;
}
.plan_title {
  margin-left: 20px;
  padding-top: 20px;
}
.schedule {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  height: 300px;
}
.schedule_container {
  background-color: #D8C6A6;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.schedule_container_wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 30px 10px;
  display: inline-flex;
  justify-content: space-between;
}
.right, .left {
  width: 500px;
  height: 300px;
}
.right {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right_top {
  height: 30%;
  text-align: left;
}
#achBack {
	width: 500px; 
	height: 30px; 
	background-color: aliceblue; 
	border-radius: 10px;
}
#achFront {
	height: 30px; 
	border-radius: 10px;
	background-color: #B5A27F; 
}

.right_top_title {
	font-size: 1.2rem;
	margin: 10px 0;
}
.right_bottom {
  text-align: left;
}
.right_bottom_title {
	display: flex;
	font-size: 1.2rem;
	margin: 10px 0;	
}
.right_bottom_title>span {
	padding: 5px;
}
.right_bottom_title div {
	background-color: #B5A27F;
	padding: 5px 10px;
	margin-left: 10px;
	border-radius: 5px;
}
.right_bottom_title a {
	text-decoration: none;
	color: #ffffff;
}
.real-content {
  color: white;
}

.left {
  background-color: white; 
  /*overflow: auto; 
  visibility: hidden;*/
}
/*.left:hover,
.left:focus {
  visibility: visible;
}*/
.main_menu {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  border-bottom: 1px solid #333333;
}

.main_menu_name {
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 20px 20px 0;
  cursor: pointer;
} 
.main_menu_name:hover {
  font-weight: 600;
}

.hero-tags {
  display: flex;
  margin-bottom: 16px;
}
.hero-tags>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  height: 24px;
  font-size: .875rem;
  font-weight: 700;
  border-radius: 4px;
}
.scene_content .cover_left .title.is-3 {
  font-size: 26px;
  margin-bottom: 8px;
  white-space: pre;
  font-weight: 600;
  line-height: 1.5;
}

.cover_left .text.is-1 {
  word-break: keep-all;
  white-space: pre;
  line-height: 1.6;
}
.control-wrapper button {
  padding: 0;
  background: none;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.fas {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: .50rem;
  margin-top: 5px;
}
.control-play-pause-button>svg {
  margin-top: 2px;
}
.plan_image>img {
	width: 100%;
	height: 100%;
	border-radius: 6px 6px 0 0;
}

#likePlan_main{
	margin-top: 50px;
	/*display: none;*/
	/*height: 710px*/
}

#likePlan_main .planCateSub {
    width: 1000px;
    margin: 0 auto;
    /*height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;*/
  }

#likePlan_main #sub_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 30px 5%;
    flex-wrap: wrap;
    height: 660px;
    align-content: flex-start;
  }

#likePlan_main .item {
    width: 30%;
    height: 200px;
  	border: 1px solid #B5A27F;
  	border-radius: 8px;
  }

#likePlan_main .pagination {
    display:flex;
    margin:30px 0;
    align-items:center;
    justify-content:center;
  }

#likePlan_main .pagination a { 
    width:32px;
    height:32px;
    border-radius:3px;
    background:#fafafa;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-size:14px;
    text-decoration: none;
    color: #333;
  }

#likePlan_main  .pagination a.current {
    background:#b5a27f;
    color:#ffffff
  }
 
 #likePlan_main .pagination a + a {
    margin-left:10px;
  }
  
 .plan_content_title {
	 font-size: 1.3rem;
	 margin: 5px 0 7px 0;
 }
  .plan_content_title a {
	 text-decoration: none;
	 color: #333333;
}
  
.plan_content_cnt_like{
	 display: flex;
	 justify-content: space-between;
	 margin: 0 3px;
}
.plan_content_like_btn {
	 display: flex;
 }
.plan_content_cnt, .plan_content_like_cnt {
	line-height: 1.5;
}
.plan_content_like_cnt {
	margin-right: 5px;
}
#calendar {
	height: 100%
}
.fc-scrollgrid-sync-inner a {
	text-decoration: none;
	color: #333333;
	font-size: 1.2rem;
}
.real-content > li {
	font-size: 1.2rem;
	margin: 5px;
}
.plan_content_title {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
}