#container_mypage {
	width: 1300px;
	margin: 0 auto;
}



/* sidebar 사이드바 */
#sidebar_mypage {
	width: 230px; height: 800px;
	background-color: #B5A27F;
	float: left;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

	text-align: center;
}
.myPageTitle {
	color: #B5A27F;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #e9e9e9;
  letter-spacing: 1px;
  
}
.sidebarMenu:hover {
	cursor: pointer;
	background-color: #D8C6A6;
}
#sidebar_mypage .sidebarMenu {
	padding-left: 25px;
}
#sidebar_mypage li .menu {
	border-radius: 10px;
}
#sidebar_mypage li a {
	width: 180px;
	text-decoration: none;
	color: #f5f5f5;
	display: block;
	height: 50px;

	font-size: 1.3em;
	/*border-bottom: 1px solid #f5f5f5;*/
	line-height: 50px;
	background-color: #B5A27F;
}

.displayStatistic {
	display: none;
}



#content_mypage {
	width: 1000px;
	float: right;
}

footer {
	clear: both;
}

