<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크를 걸기위해서 head를 남겨놓음 --> 
<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/stopwatch.css}">
	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
		<script th:src="@{/js/stopwatch.js}"></script>
	</th:block>
</head>
<!-- head 영역 끝 -->

<body>
<div class="stopwatch">
    <div class="time-wrapper">
      <div Id="time">&emsp;00:00:00</div>
    </div>
    <div class="btn-wrapper">
      <div class="play btn">
      <img src="/images/play.png">
      </div>
      <div class="pause btn">
      <img src="/images/pause.png">
      </div>
      <div class="stop btn">
      <img src="/images/stop.png">
      </div>
    </div>
 </div>
</body>
</html>